#work3_button {
  z-index: 1;
  position: absolute;
  top: 86%;
  left : 57.5%;
}


/* iPhone 6/7/8/Plus */
@media screen and (min-width: 376px) and (max-width: 414px) {
  #work3_button {
    top: 48.5%;
    left : 83%;
  }
}